In [2]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv('TMDB_10000_Popular_Movies.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'TMDB_10000_Popular_Movies.csv'

In [4]:
movies.dropna(inplace=True)

In [5]:
movies.iloc[0].Genres

'Drama | Science Fiction'

In [6]:
def convert(obj):
    L = []
    L = obj.split(" | ")
    return L

In [7]:
movies['Genres'] = movies['Genres'].apply(convert)

In [8]:
def convert3(obj):
    L = []
    L = obj.split(" | ")
    n = len(L)
    del L[4:n-1]
    return L

In [9]:
movies['Cast'] = movies['Cast'].apply(convert3)

In [47]:
# Data we need for our system
# 1 TMDb_Id
# 2 Title
# 3 Overview
# 4 Genres
# 5 Cast
# 6 Crew
# 7 Popularity
# 8 Rating_avg
# 9 Rating_count

movies = movies[['TMDb_Id','Title', 'Overview', 'Genres', 'Cast', 'Rating_average', 'Rating_Count', 'Production_Companies']]

In [48]:
movies.head()

,TMDb_Id,Title,Overview,Genres,Cast,Rating_average,Rating_Count,Production_Companies
0,419704,Ad Astra,"[The, near, future,, a, time, when, both, hope...","[Drama, ScienceFiction]","[BradPitt, TommyLeeJones, RuthNegga, JohnOrtiz...",5.9,2863,"[NewRegencyProductions, KeepYourHead, MadRiver..."
1,338762,Bloodshot,"[After, he, and, his, wife, are, murdered,, ma...","[Action, ScienceFiction]","[VinDiesel, EizaGonzález, SamHeughan, TobyKebb...",7.2,1384,"[SonyPictures, CrossCreekPictures, MimranSchur..."
2,38700,Bad Boys for Life,"[Marcus, and, Mike, are, forced, to, confront,...","[Action, Crime, Thriller]","[WillSmith, MartinLawrence, PaolaNuñez, Vaness...",7.1,2596,"[ColumbiaPictures, PlatinumDunes, 2.0Entertain..."
3,102899,Ant-Man,"[Armed, with, the, astonishing, ability, to, s...","[Action, Adventure, ScienceFiction]","[PaulRudd, MichaelDouglas, EvangelineLilly, Co...",7.1,13625,[MarvelStudios]
4,76285,Percy Jackson: Sea of Monsters,"[In, their, quest, to, confront, the, ultimate...","[Adventure, Fantasy, Family]","[LoganLerman, AlexandraDaddario, DouglasSmith,...",5.9,3547,"[Fox2000Pictures, SunsweptEntertainment, 1492P..."

In [13]:
movies['Production_Companies'] = movies['Production_Companies'].apply(convert)

In [14]:
movies['Overview'][0]

'The near future, a time when both hope and hardships drive humanity to look to the stars and beyond. While a mysterious phenomenon menaces to destroy life on planet Earth, astronaut Roy McBride undertakes a mission across the immensity of space and its many perils to uncover the truth about a lost expedition that decades before boldly faced emptiness and silence in search of the unknown.'

In [15]:
movies['Overview'] = movies['Overview'].apply(lambda x:x.split())

In [16]:
movies['Genres'] = movies['Genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [17]:
movies['Cast'] = movies['Cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['Production_Companies'] = movies['Production_Companies'].apply(lambda x:[i.replace(" ","") for i in x])

In [18]:
movies['tags'] = movies['Overview'] + movies['Genres'] + movies['Cast'] + movies['Production_Companies']

In [19]:
movies.head()

,TMDb_Id,Title,Overview,Genres,Cast,Popularity,Rating_average,Rating_Count,Production_Companies,tags
0,419704,Ad Astra,"[The, near, future,, a, time, when, both, hope...","[Drama, ScienceFiction]","[BradPitt, TommyLeeJones, RuthNegga, JohnOrtiz...",463.487,5.9,2863,"[NewRegencyProductions, KeepYourHead, MadRiver...","[The, near, future,, a, time, when, both, hope..."
1,338762,Bloodshot,"[After, he, and, his, wife, are, murdered,, ma...","[Action, ScienceFiction]","[VinDiesel, EizaGonzález, SamHeughan, TobyKebb...",235.701,7.2,1384,"[SonyPictures, CrossCreekPictures, MimranSchur...","[After, he, and, his, wife, are, murdered,, ma..."
2,38700,Bad Boys for Life,"[Marcus, and, Mike, are, forced, to, confront,...","[Action, Crime, Thriller]","[WillSmith, MartinLawrence, PaolaNuñez, Vaness...",255.068,7.1,2596,"[ColumbiaPictures, PlatinumDunes, 2.0Entertain...","[Marcus, and, Mike, are, forced, to, confront,..."
3,102899,Ant-Man,"[Armed, with, the, astonishing, ability, to, s...","[Action, Adventure, ScienceFiction]","[PaulRudd, MichaelDouglas, EvangelineLilly, Co...",134.294,7.1,13625,[MarvelStudios],"[Armed, with, the, astonishing, ability, to, s..."
4,76285,Percy Jackson: Sea of Monsters,"[In, their, quest, to, confront, the, ultimate...","[Adventure, Fantasy, Family]","[LoganLerman, AlexandraDaddario, DouglasSmith,...",124.417,5.9,3547,"[Fox2000Pictures, SunsweptEntertainment, 1492P...","[In, their, quest, to, confront, the, ultimate..."

In [20]:
movies['tags'] = movies['tags'].apply(lambda x:" ".join(x))

In [21]:
movies['tags'] = movies['tags'].apply(lambda x:x.lower())

In [22]:
import nltk

In [23]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [24]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [25]:
movies['tags'] = movies['tags'].apply(stem)

In [50]:
# Baysian average with C=100 and m=3.5
# BA =  (Rating_avg*Rating_cnt)+(100*3.5) / (rating_cnt*100) 

movies['bayes'] = ((movies['Rating_average'] * movies['Rating_Count']) + (350)) / (movies['Rating_Count'] * 100)

<ipython-input-50-d62d7c54c3e1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['bayes'] = ((movies['Rating_average'] * movies['Rating_Count']) + (350)) / (movies['Rating_Count'] * 100)

In [51]:
movies.head()

,TMDb_Id,Title,Overview,Genres,Cast,Rating_average,Rating_Count,Production_Companies,bayes
0,419704,Ad Astra,"[The, near, future,, a, time, when, both, hope...","[Drama, ScienceFiction]","[BradPitt, TommyLeeJones, RuthNegga, JohnOrtiz...",5.9,2863,"[NewRegencyProductions, KeepYourHead, MadRiver...",0.060222
1,338762,Bloodshot,"[After, he, and, his, wife, are, murdered,, ma...","[Action, ScienceFiction]","[VinDiesel, EizaGonzález, SamHeughan, TobyKebb...",7.2,1384,"[SonyPictures, CrossCreekPictures, MimranSchur...",0.074529
2,38700,Bad Boys for Life,"[Marcus, and, Mike, are, forced, to, confront,...","[Action, Crime, Thriller]","[WillSmith, MartinLawrence, PaolaNuñez, Vaness...",7.1,2596,"[ColumbiaPictures, PlatinumDunes, 2.0Entertain...",0.072348
3,102899,Ant-Man,"[Armed, with, the, astonishing, ability, to, s...","[Action, Adventure, ScienceFiction]","[PaulRudd, MichaelDouglas, EvangelineLilly, Co...",7.1,13625,[MarvelStudios],0.071257
4,76285,Percy Jackson: Sea of Monsters,"[In, their, quest, to, confront, the, ultimate...","[Adventure, Fantasy, Family]","[LoganLerman, AlexandraDaddario, DouglasSmith,...",5.9,3547,"[Fox2000Pictures, SunsweptEntertainment, 1492P...",0.059987

In [1]:
movies['tags']

NameError: name 'movies' is not defined

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000,stop_words='english')

In [27]:
vectors = cv.fit_transform(movies['tags']).toarray()

In [28]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0]], dtype=int64)

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
similarity = cosine_similarity(vectors)

In [36]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:20]

[(1233, 0.3367876570272817),
 (4807, 0.32025630761017426),
 (1951, 0.3110855084191276),
 (700, 0.3042903097250923),
 (2159, 0.29012942659282975),
 (269, 0.28867513459481287),
 (1185, 0.28867513459481287),
 (2725, 0.280056016805602),
 (1470, 0.27216552697590873),
 (8, 0.2668802563418119),
 (1241, 0.2649064714130087),
 (2540, 0.2649064714130087),
 (6223, 0.2581988897471611),
 (4161, 0.25660011963983365),
 (6258, 0.25660011963983365),
 (1928, 0.25310879886733306),
 (6639, 0.24845199749997665),
 (529, 0.24845199749997662),
 (4512, 0.24845199749997662)]

In [79]:
def recommend(movie):
    movie_index = movies[movies['Title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:20]

    for i in movies_list:
        print(movies.iloc[i[0]].Title)
    # return

In [1]:
import pickle

NameError: name 'similarity' is not defined